#footer{
    background-color: rgb(255, 115, 0);
    box-shadow: inset 0px -36px 42px 2px black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
#text_footer{
    font-size: xx-small;
}